@font-face {
 font-family: IntroBlackInlineCAPS;
 src: url('/fonts/IntroDemo-BlackInlineCAPS.eot');
 src: url('/fonts/IntroDemo-BlackInlineCAPS.eot?#iefix') format('embedded-opentype'),
 url('/fonts/IntroDemo-BlackInlineCAPS.woff2') format('woff2'), 
 url('/fonts/IntroDemo-BlackInlineCAPS.woff') format('woff'),
 url('/fonts/IntroDemo-BlackInlineCAPS.ttf') format('truetype');
}
@font-face {
 font-family: IntroCondLightCAPS;
 src: url('/fonts/IntroDemoCond-LightCAPS.eot');
 src: url('/fonts/IntroDemoCond-LightCAPS.eot?#iefix') format('embedded-opentype'),
 url('/fonts/IntroDemoCond-LightCAPS.woff2') format('woff2'), 
 url('/fonts/IntroDemoCond-LightCAPS.woff') format('woff'),
 url('/fonts/IntroDemoCond-LightCAPS.ttf') format('truetype');
}
